# Simple workflow for deploying static content to GitHub Pages
name: Buddypress Automation Testing
on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  Automation-Testing:
    runs-on: ubuntu-latest  # Runs on Ubuntu environment
    
    # Steps to execute within the job
    steps:
      # Step to checkout the repository code
      - name: Checkout Repository
        uses: actions/checkout@v2

      # Step to set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.12"  # Version of Python to set up

      # Step to install Chrome WebDriver for Selenium
      - name: Install Chrome WebDriver
        run: |
          LATEST=$(wget -q -O - https://googlechromelabs.github.io/chrome-for-testing/LATEST_RELEASE_STABLE)
          wget https://storage.googleapis.com/chrome-for-testing-public/123.0.6309.0/linux64/chromedriver-linux64.zip
          unzip chromedriver-linux64.zip
          cd chromedriver-linux64
          sudo mv chromedriver /usr/local/bin/
          sudo chmod +x /usr/local/bin/chromedriver

      # Step to install Selenium library
      - name: Install Selenium
        run: pip install selenium

      # Step to execute Selenium tests
      - name: Run Selenium tests
        run: python testcase.py
